body {
  background-color: #ebeaed;
}

.container-fluid {
  background-color: #ebeaed;
  padding: 5%;
  /* padding-bottom: 20%;
  padding-left: 2%; */
}

.navbar-light .navbar-brand {
  color: white;
  background-color: #45959d;
  padding: 5px 5px 5px 5px;
}


.row {
  color: #45959d;
  /* background-color: #6109e74a; */
  /* text-align: center; */
  padding: 5px 5px 5px 5px;
}

p {
  color: #6c757d;
  text-align: left;
}

  
  